@model AjApp.Models.AuthUser;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AjApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/signup.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AjApp.styles.css" asp-append-version="true" />
</head>
<body class="bg">
    <div class="d-flex flex-column align-items-center">
    <form  asp-action="NewUser">
        <div asp-asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="d-flex flex-column align-items-start m-4">
            <label asp-for="User!.Name" class="purple">Tell us your name </label>
            <input asp-for="User!.Name" placeholder="Name"/>
            <span asp-asp-validation-for="User!.Name" class="text-danger"></span>
        </div>
        <div class="d-flex flex-column align-items-start m-4">
            <label asp-for="Auth!.Email" class="purple">Enter your email</label>
            <input asp-for="Auth!.Email"placeholder="Email"/>
            <span asp-asp-validation-for="Auth!.Email" class="text-danger"></span>
        </div>
        <div class="d-flex flex-column align-items-start m-4">
            <label asp-for="Auth!.Password" class="purple">Set Password</label>
            <input asp-for="Auth!.Password"placeholder="Password"/>
            <span asp-asp-validation-for="Auth!.Password" class="text-danger"></span>
        </div>
        <div class="d-flex flex-column align-items-start m-4">
            <label asp-for="User!.DOB" class="purple">When should we celebrate your birthday?</label>
            <input asp-for="User!.DOB"placeholder="yyyy-mm-dd"/>
            <span asp-asp-validation-for="User!.DOB" class="text-danger"></span>
            </div>
        <div class="d-flex flex-column align-items-start m-4">
        <label asp-for="User!.Country" class="purple">Where you live?</label>
        <input asp-for="User!.Country"placeholder="Country"/>
        <span asp-asp-validation-for="User!.Country" class="text-danger"></span>
        </div>
        <div class="d-flex flex-column align-items-center m-4">
            <input type="submit" value="SingUp" class="btn btn-custom"/>
        </div>
    </form>
        </div>

</body>
</html>
