<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AjApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AjApp.styles.css" asp-append-version="true" />
</head>
<body class="bg overflow-hidden">
    <section class="d-flex flex-column align-items-center">
        <div class="d-flex flex-row align-items-center m-4">
            <img src="~/WaveForm.png" width="100" height="100" class="mt-4 waveform"/>
            <h1 id="title">Ajfy</h1>
        </div>
        <div>
            <a class="btn btn-custom text-black " asp-controller="AjMusic" asp-action="Ajfy">Get Started</a>
        </div>
        <p class="mt-5 text-white">This is a Free online anonymous music streaming site. No account! No data! Just listen to Music</p>
        <p class="mt-5 text-white"><span id="note">Note:</span> The site is under construction. You can only able to play the preview of the song.</p>
    </section>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    </body>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</html>
